body{
  background-color: rgb(75, 72, 72);
}
img{
  width : 500;
  height : 500;

}

#scroll_to_top {
 position: fixed;
 width: 25px;
 height: 25px;
 bottom: 50px;
 right: 30px;
}
#scroll_to_top img {
 width: 25px;
}
